Repository coreos/tectonic-installer, pull requests merged in 2018-06, with the labels that each got.

#3257 config.tf,steps: cleanup tectonic_ca
  config.tf
  modules/tectonic/variables.tf
  steps/assets/aws/main.tf
  steps/assets/base/tectonic.tf
  steps/assets/libvirt/main.tf
Labels: platform/aws, run-smoke-tests

#3259 config.tf: bump node controller operator
  config.tf
Labels: platform/aws, run-smoke-tests

#3258 *: collapse two endpoints booleans into one field
  Documentation/variables/aws.md
  installer/pkg/config/aws/aws.go
  installer/pkg/config/cluster.go
  installer/pkg/config/types.go
  installer/pkg/config/validate.go
  installer/pkg/config/validate_test.go
  installer/pkg/workflow/fixtures/terraform.tfvars
  modules/aws/vpc/master-elb.tf
  modules/dns/route53/tectonic.tf
  modules/dns/route53/variables.tf
  steps/masters/aws/main.tf
  steps/topology/aws/main.tf
  steps/variables-aws.tf
  tests/smoke/aws/vars/aws-basic.tfvars.json
  tests/smoke/aws/vars/aws-vpc-internal.tfvars.json
Labels: platform/aws, run-smoke-tests

#3256 *: remove custom CA list option
  Documentation/variables/config.md
  config.tf
  installer/pkg/config/cluster.go
  modules/ignition/ca_certs.tf
  modules/ignition/outputs.tf
  modules/ignition/variables.tf
  steps/assets/aws/main.tf
  steps/assets/base/ignition-bootstrap.tf
  steps/assets/libvirt/main.tf
Labels: platform/aws, run-smoke-tests

#3250 *: remove external etcd
  Documentation/variables/config.md
  config.tf
  examples/tectonic.aws.yaml
  examples/tectonic.libvirt.yaml
  installer/pkg/config-generator/generator.go
  installer/pkg/config/types.go
  modules/aws/etcd/ignition.tf
  modules/aws/etcd/nodes.tf
  modules/aws/etcd/variables.tf
  modules/aws/vpc/sg-etcd.tf
  modules/aws/vpc/variables.tf
  steps/assets/aws/main.tf
  steps/assets/libvirt/main.tf
  steps/etcd/aws/etcd.tf
  steps/topology/aws/main.tf
  tests/smoke/aws/vars/aws-ca.tfvars.json
  tests/smoke/aws/vars/aws-vpc-internal.tfvars.json
Labels: platform/aws, run-smoke-tests

#3263 Documentation,examples: remove proxy
  Documentation/variables/config.md
  examples/tectonic.aws.yaml
  examples/tectonic.libvirt.yaml
Labels: run-smoke-tests

#3243 TNC: platform support changes
  .gitignore
  config.tf
  glide.lock
  glide.yaml
  installer/pkg/config-generator/fixtures/kube-system.yaml
  installer/pkg/config-generator/generator.go
  installer/pkg/config/BUILD.bazel
  vendor/github.com/coreos/tectonic-config/config/tectonic-node-controller/config.go
  vendor/golang.org/x/sys/unix/openbsd_pledge.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_386.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_arm.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_386.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsysctl_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_openbsd_amd64.go
Labels: platform/aws, run-smoke-tests

#3264 installer: validate container linux fields
  config.tf
  installer/pkg/config/cluster.go
  installer/pkg/config/types.go
  installer/pkg/config/validate.go
  installer/pkg/config/validate_test.go
  installer/pkg/workflow/fixtures/aws.basic.yaml
  steps/assets/aws/main.tf
  steps/assets/libvirt/main.tf
Labels: platform/aws, run-smoke-tests

#3261 installer: validate admin
  installer/pkg/config/validate.go
  installer/pkg/workflow/fixtures/aws.basic.yaml
  installer/pkg/workflow/fixtures/terraform.tfvars
Labels: platform/aws, run-smoke-tests

#3247 RSpec test suite v2
  .gitignore
  .rspec
  .rubocop.yml
  spec/aws/basic_spec.rb
  spec/support/bazel.rb
  spec/support/cluster.rb
  spec/support/config.rb
Labels: platform/aws, run-smoke-tests

#3265 installer: validate libvirt
  examples/tectonic.libvirt.yaml
  installer/pkg/config-generator/ignition.go
  installer/pkg/config/cluster.go
  installer/pkg/config/libvirt/libvirt.go
  installer/pkg/config/validate.go
  installer/pkg/config/validate_test.go
  installer/pkg/validate/validate.go
  installer/pkg/validate/validate_test.go
  installer/pkg/workflow/fixtures/terraform.tfvars
  modules/libvirt/volume/main.tf
  modules/libvirt/volume/variables.tf
  steps/topology/libvirt/main.tf
  steps/variables-libvirt.tf
Labels: run-smoke-tests

#3262 *: remove tls_validity_period
  Documentation/variables/config.md
  examples/tectonic.aws.yaml
  examples/tectonic.libvirt.yaml
  installer/pkg/config-generator/fixtures/test-aws.yaml
  installer/pkg/config/cluster.go
  installer/pkg/workflow/fixtures/aws.basic.yaml
  installer/pkg/workflow/fixtures/terraform.tfvars
Labels: platform/aws, run-smoke-tests

#3271 intaller/pkg/config/libvirt: fix lint errors
  .travis.yml
  installer/pkg/config/libvirt/libvirt.go
Labels: run-smoke-tests

#3275 *: remove k8s-node-bootstrap.service
  Documentation/dev/node-bootstrap-flow.md
  Documentation/variables/config.md
  config.tf
  modules/ignition/assets.tf
  modules/ignition/outputs.import
  modules/ignition/outputs.tf
  modules/ignition/resources/services/k8s-node-bootstrap.service
  modules/ignition/variables.tf
  steps/assets/aws/main.tf
  steps/assets/base/ignition-bootstrap.tf
  steps/assets/libvirt/main.tf
Labels: platform/aws, run-smoke-tests

#3280 installer/pkg: vix govet errors
  .travis.yml
  installer/pkg/config/libvirt/libvirt.go
  installer/pkg/validate/validate.go
  installer/pkg/workflow/init_test.go
  installer/pkg/workflow/utils.go
Labels: platform/aws, run-smoke-tests

#3285 config.tf: bump operator images
  config.tf
Labels: platform/aws, run-smoke-tests

#3277 installer/pkg/config: validate aws vpc cidr block
  installer/pkg/config/aws/aws.go
  installer/pkg/config/cluster.go
  installer/pkg/config/validate.go
  installer/pkg/config/validate_test.go
  installer/pkg/workflow/fixtures/aws.basic.yaml
  steps/variables-aws.tf
  tests/smoke/aws/vars/aws-basic.yaml
Labels: platform/aws, run-smoke-tests

#3287 add etcd to node counts
  tests/rspec/lib/config_file.rb
Labels: platform/aws, run-smoke-tests

#3290 *: connect to API server on 6443 instead of 443
  config.tf
  installer/pkg/config-generator/fixtures/kube-system.yaml
  installer/pkg/config-generator/generator.go
  installer/pkg/config-generator/generator_test.go
  modules/aws/vpc/master-elb.tf
  modules/aws/vpc/sg-elb.tf
  steps/assets/base/tectonic.tf
  steps/assets/libvirt/main.tf
  steps/assets/libvirt/resources/remap_port.service
  steps/tls/main.tf
Labels: platform/aws, run-smoke-tests

#3286 remove contrib govcloud
  contrib/govcloud/README.md
  contrib/govcloud/main.tf
  contrib/govcloud/powerdns.tf
  contrib/govcloud/resources/gateway.service
  contrib/govcloud/resources/nginx.conf
  contrib/govcloud/resources/nginx.service
  contrib/govcloud/resources/openvpn.service
  contrib/govcloud/resources/powerdns.service
  contrib/govcloud/services.tf
  contrib/govcloud/vars.tf
  contrib/govcloud/vpn.tf
Labels: platform/aws, run-smoke-tests

#3291 installer: golang cleanup
  installer/pkg/config-generator/BUILD.bazel
  installer/pkg/config/BUILD.bazel
  installer/pkg/config/govcloud/BUILD.bazel
  installer/pkg/config/govcloud/govcloud.go
  tests/smoke/BUILD.bazel
Labels: run-smoke-tests

#3292 Cleanup
  installer/pkg/config/aws/aws.go
  installer/pkg/config/cluster.go
  installer/pkg/config/validate.go
  installer/pkg/workflow/fixtures/aws.basic.yaml
  installer/pkg/workflow/fixtures/terraform.tfvars
  steps/assets/aws/main.tf
  steps/variables-aws.tf
  tests/rspec/lib/tfvars_file.rb
  tests/smoke/README.md
Labels: platform/aws, run-smoke-tests

#3235 Cherry-pick of #3229 from 1.9.6 to track-1
  modules/tectonic/resources/manifests/updater/operators/tectonic-alm-operator.yaml
Labels: platform/aws, run-smoke-tests

#3293 modules/tectonic/resources: add TNC key/cert pair
  modules/ignition/variables.tf
  modules/tectonic/manifests.tf
  modules/tectonic/resources/manifests/secrets/tnc-tls.yaml
  modules/tectonic/resources/tectonic.sh
  modules/tectonic/variables.tf
  modules/tls/ca/assets.tf
  modules/tls/ca/outputs.tf
  modules/tls/tnc/assets.tf
  modules/tls/tnc/main.tf
  modules/tls/tnc/outputs.tf
  modules/tls/tnc/variables.tf
  steps/assets/base/ignition-bootstrap.tf
  steps/assets/base/ignition-tls.tf
  steps/assets/base/inputs.tf
  steps/assets/base/outputs.tf
  steps/assets/base/tectonic.tf
  steps/tls/main.tf
Labels: platform/aws, run-smoke-tests

#2147 modules/aws/vpc - Better security for master nodes
  modules/aws/vpc/sg-master.tf
Labels: needs review, platform/aws, run-smoke-tests

#3284 run smoke tests with bash script
  Jenkinsfile
  images/tectonic-smoke-test-env/Dockerfile
  images/tectonic-smoke-test-env/Dockerfile.builder
  images/tectonic-smoke-test-env/Dockerfile.runtime
  images/tectonic-smoke-test-env/Makefile
  tests/run.sh
Labels: needs review, platform/aws, run-smoke-tests

#3298 Cleanup smoke tests
  tests/smoke/cluster_test.go
Labels: needs review, platform/aws, run-smoke-tests

#3295 Cleanup testing suite - remove rspec
  .gitignore
  .rspec
  .rubocop.yml
  spec/aws/basic_spec.rb
  spec/spec_helper.rb
  spec/support/bazel.rb
  spec/support/cluster.rb
  spec/support/config.rb
  tests/jenkins-jobs/scripts/log-analyzer-copy.sh
  tests/rspec/.gitignore
  tests/rspec/.rspec
  tests/rspec/.rubocop.yml
  tests/rspec/.ruby-version
  tests/rspec/Gemfile
  tests/rspec/Gemfile.lock
  tests/rspec/lib/aws_cluster.rb
  tests/rspec/lib/aws_iam.rb
  tests/rspec/lib/aws_region.rb
  tests/rspec/lib/aws_support.rb
  tests/rspec/lib/aws_vpc.rb
  tests/rspec/lib/cluster.rb
  tests/rspec/lib/cluster_factory.rb
  tests/rspec/lib/cluster_support.rb
  tests/rspec/lib/config_file.rb
  tests/rspec/lib/container_linux.rb
  tests/rspec/lib/env_var.rb
  tests/rspec/lib/grafiti.rb
  tests/rspec/lib/jenkins.rb
  tests/rspec/lib/kubectl_helpers.rb
  tests/rspec/lib/name_generator.rb
  tests/rspec/lib/operators.rb
  tests/rspec/lib/pages/base_page.rb
  tests/rspec/lib/pages/login_page.rb
  tests/rspec/lib/password_generator.rb
  tests/rspec/lib/shared_examples/build_folder_setup.rb
  tests/rspec/lib/shared_examples/k8s.rb
  tests/rspec/lib/shared_examples/tls_setup.rb
  tests/rspec/lib/smoke_test.rb
  tests/rspec/lib/ssh.rb
  tests/rspec/lib/test_container.rb
  tests/rspec/lib/tfstate_file.rb
  tests/rspec/lib/tfvars_file.rb
  tests/rspec/lib/tls_certs.rb
  tests/rspec/lib/webdriver_helpers.rb
  tests/rspec/lib/with_retries.rb
  tests/rspec/spec/aws/basic_spec.rb
  tests/rspec/spec/aws/ca_spec.rb
  tests/rspec/spec/aws/custom_tls_spec.rb
  tests/rspec/spec/aws/exp_spec.rb
  tests/rspec/spec/aws/network_flannel_spec.rb
  tests/rspec/spec/aws/vpc_internal_spec.rb
  tests/rspec/spec/existing_cluster_spec.rb
  tests/rspec/spec/meta-tests/aws_vpc_spec.rb
  tests/rspec/spec/meta-tests/name_generator_spec.rb
  tests/rspec/spec/meta-tests/tfvars_file_spec.rb
  tests/rspec/spec/spec_helper.rb
  tests/rspec/ssh-agent.sh
  tests/rspec/utils/20-metal.conf
  tests/rspec/utils/rkt-auth.json
Labels: needs review

#3300 remove old config files for tests
  tests/smoke/aws/vars/aws-basic.tfvars.json
  tests/smoke/aws/vars/aws-ca.tfvars.json
  tests/smoke/aws/vars/aws-ca.yaml
  tests/smoke/aws/vars/aws-exp.tfvars.json
  tests/smoke/aws/vars/aws-exp.yaml
  tests/smoke/aws/vars/aws-net-flannel.tfvars.json
  tests/smoke/aws/vars/aws-net-flannel.yaml
  tests/smoke/aws/vars/aws-vpc-internal.tfvars.json
  tests/smoke/aws/vars/aws-vpc-internal.yaml
Labels: platform/aws, run-smoke-tests

#3301 installer: clean up use of Platform type
  examples/tectonic.aws.yaml
  installer/pkg/config-generator/generator.go
  installer/pkg/config-generator/ignition.go
  installer/pkg/config/cluster.go
  installer/pkg/workflow/fixtures/aws.basic.yaml
  installer/pkg/workflow/fixtures/terraform.tfvars
  installer/pkg/workflow/utils.go
Labels: platform/aws, run-smoke-tests

#3306 Fix nightly builds
  Jenkinsfile
Labels: needs review

#3311 *: remove unused systemd units
  Documentation/dev/node-bootstrap-flow.md
  modules/bootkube/assets.tf
  modules/bootkube/outputs.tf
  modules/bootkube/resources/bootkube.path
  modules/ignition/assets.tf
  modules/ignition/outputs.import
  modules/ignition/outputs.tf
  modules/ignition/resources/dropins/10-metadata.conf
  modules/ignition/resources/kubernetes/kubelet.env
  modules/tectonic/assets.tf
  modules/tectonic/output.tf
  modules/tectonic/resources/tectonic.path
  steps/assets/aws/resources/rm-assets.sh
  steps/assets/base/outputs.tf
Labels: platform/aws, run-smoke-tests

#3315 installer/pkg/* clean up of the workflow function names
  installer/cmd/tectonic/main.go
  installer/pkg/workflow/convert.go
  installer/pkg/workflow/destroy.go
  installer/pkg/workflow/init.go
  installer/pkg/workflow/install.go
Labels: platform/aws, run-smoke-tests
